body {
  background-color: #272938;
  color: rgb(228, 234, 245);
}

.App {
  border: none;
}

.box {
  background-color: #2E3142;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 4px #1a1b25;
  -moz-box-shadow: 0px 0px 5px 4px #1a1b25;
  box-shadow: 0px 0px 2px 2px #2526338f;
}

.nav-top {
  border: none;
  background-color: #2E3142;
}

.logo {
  font-family: 'PT Sans';
  color: rgb(101, 108, 131);
  font-size: 13px;
}

.bar-live {
  border: none;
  background-color: #2E3142;
}

.outer-wrapper {
  border: none;
}

.country-list {
  background-color: #2E3142;
  border: none;
}

.bar-chart {
  background-color: #2E3142;
  border: none;
}


.article-item {
  background-color: #2E3142;
  border: none;
}

.country-nav-item {
  border: none;
  text-decoration: none;
}

.navlink-wrapper a {
  color: #F5F9FF;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.sidebar-active {
  background-color: rgb(55, 58, 78) !important;
}

.country-title {
  padding: 15px;
  color: #4D8AB9;
}

.text-darker {
  color: #848BA7;
}

::-webkit-scrollbar { width: 4px; height: 3px;}
::-webkit-scrollbar-button {  background-color: rgb(60, 65, 88); }
::-webkit-scrollbar-track {  background-color: rgb(60, 65, 88);}
::-webkit-scrollbar-track-piece { background-color: rgb(30, 32, 44);}
::-webkit-scrollbar-thumb { height: 50px; background-color: rgb(60, 65, 88); border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: rgb(60, 65, 88);}
::-webkit-resizer { background-color: rgb(60, 65, 88);}

.axis line,
.axis path {
  display: none;
}

.axis text {
  fill: rgb(102, 108, 131);
}

.line {
  fill: none;
  stroke: #4D8AB9;
  stroke-width: 1.5px;
}

.area {
  fill: url(#temperature-gradient);
  stroke-width: 05px;
}
  
.grid {
  opacity: 0.15
}