.App {
  font-family: sans-serif;
}

.nav-top {
  border: solid 1px black;
}

.bar-live {
  border: solid 1px red;
}

.data-wrapper {
  display: grid;
  grid-template-columns: 100px auto;
}

.country-list {
  border: solid 1px blue;
}

.bar-chart {
  border: solid 1px green;
}

.recent-news {
  border: solid 1px brown;
}

.article-item {
  border: solid 1px orange;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% 50% 20% 20%;
}